* {
  text-align: center;
  margin: 0 auto;
}

.Teams {
  color: rgb(138, 95, 43)
}

.Players {
  color: darkgreen
}

ul {
  display: inline-flex;
  justify-content: space-around;
}

li {
    list-style-type: none;
}

.logo {
  max-height: 20vw;
  max-width: 40vw;
}

.frontPageImg {
  max-height: 40vw;
  max-width: 75vw;
}
